*{
  margin: 0;
  background-color: #fbf7f7;
  color: #121212;
}
.img-profile{
  border-radius: 80%;
  height: 280px;
}
.icon{
  color: #2b0d0d;
}
.my-contact{
  border: solid 2px #2b0d0d;
  text-decoration: none;
  color: #2b0d0d;
  font-size: 15px ;
  font-weight: bold;
  padding: 10px;
  margin-left: 15px ;
}
.title-skill{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.text-skill{
  text-align: justify;
}
.skill-items{
  margin-top: 50px ;
   display: flex;
  align-items: center;
  justify-content: center;
}
.skill-name{
  border: solid 2px #ddcbdd;
  text-decoration: none;
  color: #2b0d0d;
  font-size: 20px ;
  padding: 15px;
  margin-left: 15px ;

}