<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename ='css/styles.css') }}">
 <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark" arial-label="Furni navigation bar">
      <div class="container">
        <a class="navbar-brand text-dark fw-bold" href="index.html">MPhúc</a>
        <div class="collapse navbar-collapse " id="navbarsFurni">
          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-auto">
              <li class="d-flex align-items-center">
                    <a class="nav-link" href="#"><img src= "{{ url_for('static', filename='images/logoLinkedin.png') }}" style="width: 25px" /></a>
                     <span>LinkedIn</span>
              </li>
              <li class="d-flex align-items-center">
              <a class="nav-link" href="#"
                ><img src="{{ url_for('static', filename='images/logofacebook.png') }}" style="width: 25px"/>
                <span>Facebook</span>
              </a>
              </li>
          </ul>
        </div>
      </div>
</nav>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>